<!DOCTYPE html>
<html lang="en" ng-app="TranslateXMLByXMLapp" ng-controller="TranslateXMLByXMLCtrl">
<head>
    <meta charset="UTF-8">
    <title>Translate XML by XML</title>

    <meta name="description" content="MB translator">
    <meta name="keywords" content="">

    <!-- Twitter Cards -->
    <meta name="twitter:title" content="Articles">
    <meta name="twitter:description" content="MB translator">
    <meta name="twitter:site" content="@mmistakes">
    <meta name="twitter:creator" content="@mmistakes">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="http://lhf552004.github.io/images/120x120.gif">

    <!-- Open Graph -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Articles">
    <meta property="og:description" content="MB translator">
    <meta property="og:url" content="http://lhf552004.github.io/translate/">
    <meta property="og:site_name" content="听雨轩">
    <link rel="author" href="https://plus.google.com/+MichaelRoseDesign"/>

    <script src="../js/jquery-1.12.3.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <!--<script src="../js/vendor/jquery.ui.widget.js"></script>-->
    <!--<script src="../js/jquery.iframe-transport.js"></script>-->
    <!--<script src="../js/jquery.fileupload.js"></script>-->
    <script src="../js/angular.min.js"></script>
    <script src="../js/Text.js"></script>
    <script src="../js/TranslateXMLByXMLapp.js"></script>
    <script src="../js/FileSaver.js"></script>
    <link rel="canonical" href="http://lhf552004.github.io/translate/">

    <link href="http://lhf552004.github.io/atom.xml" type="application/atom+xml" rel="alternate" title="听雨轩 Atom Feed">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="http://lhf552004.github.io/css/main.css">
    <script src="../js/main.js"></script>
</head>
<body>
<header id="masthead">
    <div class="inner-wrap">
        <a href="http://lhf552004.github.io/" class="site-title">Tingyuxuan</a>
        <nav role="navigation" class="menu top-menu">
            <ul class="menu-item">
                <li class="home"><a href="/">Tingyuxuan</a></li>


                <li><a href="http://lhf552004.github.io/travel/" >travel</a></li>


                <li><a href="http://lhf552004.github.io/articles/" >articles</a></li>


                <li><a href="http://lhf552004.github.io/software/" >software</a></li>


                <li><a href="http://lhf552004.github.io/translate/" >translate</a></li>


                <li><a href="http://lhf552004.github.io/children/" >children</a></li>


                <li><a href="http://lhf552004.github.io/about/" >About</a></li>

            </ul>
        </nav>
    </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
<nav role="navigation" id="js-menu" class="sliding-menu-content">
    <h5>Tingyuxuan <span>Table of Contents</span></h5>
    <ul class="menu-item">
        <li>
            <a href="http://lhf552004.github.io/travel/">
                <img src="http://lhf552004.github.io/images/travel.gif" alt="teaser" class="teaser">
                <div class="title">travel</div>
                <p class="excerpt">I hope to travel around the world.</p>
            </a>
        </li><li>
        <a href="http://lhf552004.github.io/articles/">
            <img src="http://lhf552004.github.io/images/zaji.gif" alt="teaser" class="teaser">
            <div class="title">articles</div>
            <p class="excerpt">A collection of thoughts, inspiration, mistakes, and other minutia..</p>
        </a>
    </li><li>
        <a href="http://lhf552004.github.io/software/">
            <img src="http://lhf552004.github.io/images/software.gif" alt="teaser" class="teaser">
            <div class="title">software</div>
            <p class="excerpt">I did some software. Some is useful, others not.</p>
        </a>
    </li><li>
        <a href="http://lhf552004.github.io/translate/">
            <img src="http://lhf552004.github.io/images/MB.jpg" alt="teaser" class="teaser">
            <div class="title">translate</div>
            <p class="excerpt">There are some Muehlabuer online tools.</p>
        </a>
    </li><li>
        <a href="http://lhf552004.github.io/children/">
            <img src="http://lhf552004.github.io/images/children.gif" alt="teaser" class="teaser">
            <div class="title">children</div>
            <p class="excerpt">Children.</p>
        </a>
    </li><li>
        <a href="http://lhf552004.github.io/about/">
            <img src="http://lhf552004.github.io/images/about.gif" alt="teaser" class="teaser">
            <div class="title">About</div>
            <p class="excerpt">This is Allen's blog.</p>
        </a>
    </li>
    </ul>
</nav>
<button type="button" id="js-menu-trigger" class="sliding-menu-button lines-button x2" role="button" aria-label="Toggle Navigation">
    <span class="nav-lines"></span>
</button>

<div id="js-menu-screen" class="menu-screen"></div>

<div class="container">

    <div class="header-content">
        <div class="header-image">
            <div class="header-container">
                <div class="head-left">
                    <div class="logo">
                        <a href="/"><img src="../images/logo.png" /></a>
                    </div>
                </div>
                <div class="head-left">
                    <h1 class="header-text">Muehlbauer
                        <small class="header-text">Translate XML by XML</small>
                    </h1>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-xs-3 col-sm-3">

            <span class="label label-default">Please choose target file</span>
            <input ng-model="targetUpload" type="file" onchange="angular.element(this).scope().readXML(this,'target')">
            <!--ng-change="readXML(this.files[0],{{targetXML}})"-->
            <!--onchange="readfile(this.files[0])-->
            <span class="label label-default">Please choose source file</span>
            <input id="source_upload" name="source_upload" type="file" onchange="angular.element(this).scope().readXML(this,'source')">
        </div>
        <div class="col-lg-2 col-xs-2 col-sm-3">
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle" id="identical"
                        data-toggle="dropdown">
                    Identical By {{identical}}
                    <span class="caret"></span>
                </button>
                <ul id="identicalUl" class="dropdown-menu" role="menu" aria-labelledby="identical">
                    <li role="presentation" ng-click = "identicalSelected('Label')">
                        Label
                    </li>
                    <li role="presentation" ng-click = "identicalSelected('ID')">
                        ID
                    </li>
                </ul>
            </div>

        </div>

        <div class=" col-lg-3 col-xs-3 col-sm-3">
            <button id="import" class="btn btn-primary" ng-click="importTarget()">Import Target XML</button>
        </div>
        <div class="col-lg-2 col-xs-2 col-sm-3">
            <button id="override" type="button" class="btn btn-primary" ng-click = "override()">Override</button>
        </div>

        <div class="col-lg-2 col-xs-2 col-sm-3">
            <button id="save" type="button" class="btn btn-primary" ng-click = "save()">Save</button>
            <button id="test" type="button" class="btn btn-primary" ng-click = "test()" >Test</button>
        </div>

    </div>
    <!--divider-->
    <hr>

    <div class="row remark">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <span >Filter</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-3 col-sm-3">
            <div class="input-group">
                <span class="input-group-addon">ID</span>
                <input ng-model="idFilter" ng-change="idFilterChange()" type="text" class="form-control" placeholder="ID">
            </div>

        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3">
            <div class="input-group">
                <span class="input-group-addon">Label</span>
                <input ng-model="labelFitler" ng-change="labelFilterChange()" type="text" class="form-control" placeholder="Label">
            </div>
        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3">
            <div class="input-group">
                <span class="input-group-addon">OriginalText</span>
                <input ng-model="OriginalTextFitler" ng-change="OriginalTextFilterChange()" type="text" class="form-control" placeholder="OriginalText">
            </div>
        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3">
            <div class="input-group">
                <span class="input-group-addon">TranslateText</span>
                <input ng-model="innerTextFilter" ng-change="innerTextFilterChange()" type="text" class="form-control" placeholder="TranslateText">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
           <span class="label-info" id="status"></span>
        </div>
        <div class="col-lg-12 col-xs-12 col-sm-12 table">

            <table id="translationTable" class="table">
                <caption>To Translate</caption>
                <thead>
                <tr>
                    <th class="col-lg-1 col-xs-1 col-sm-1">ID</th>
                    <th class="col-lg-2 col-xs-2 col-sm-3">Label</th>
                    <th class="col-lg-4 col-xs-4 col-sm-4">Original Text</th>
                    <th class="col-lg-5 col-xs-5 col-sm-5">Translate Text</th>
                </tr>
                </thead>
                <tr ng-repeat=" text in texts">
                    <td>{{text.id}}</td>
                    <td>{{text.label}}</td>
                    <td>{{text.OriginalText}}</td>
                    <td><input type="text" label = {{text.label}} value={{text.innerText}} onchange="angular.element(this).scope().innerTextChange(this)"></td>
                </tr>
            </table>
        </div>
    </div>
    <pre id="output"></pre>
    <div class="row">
        <div class="col-lg-6 col-xs-6 col-sm-6">
            <div class="input-group">
                <label for="result">Results:</label>
                <textarea class="form-control" rows="20" cols="100%" ng-model="result"></textarea>
            </div>
        </div>
        <div class="col-lg-6 col-xs-6 col-sm-6">
            <div class="input-group">
                <label for="remark">Remark:</label>
                <textarea class="form-control" rows="20" cols="100%" id="remark">Puropse: This tool is to modify the mismatched texts.
                    1. some texts in Madarin translation files are not matched texts in English translation files with the same ID.
                    2. some texts have the same ID.
                    Instruction:
                    1. Open the target translation file. Normally,it's the 普通话_ErrorTexts.xml in the subfolder "D:\MBGUI\Language files\普通话",
                    Meanwhile, it can be the English file. when you choose English file, remember to choose TranslateOriention combox.
                    2. Open the source translation file. Normally,it's the English_ErrorTexts.xmlin the subfolder "D:\MBGUI\Language files\English"
                    3. Import the target translation to the list. It will delete duplicated text.
                    4. Overide it with source texts. It will correct the label,OriginalText and translation text with source texts.
                    5. Modify the translation text manually.
                    6. Save the file.
                    Attention:
                    1. Criteria is case sensitives</textarea>
            </div>
        </div>
    </div>


</div>
<hr>
<div class="footer">
    <div class="footer-image">
        <div class="footer-container">
            <div class="row">
                <div class="col-lg-3 col-xs-3 col-sm-3">

                </div>
                <div class="col-lg-6 col-xs-6 col-sm-6">
                    <p class="footer-text"> 纽豹集团 2015, 保留所有权利</p>
                </div>
                <div class="col-lg-3 col-xs-3 col-sm-3">

                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container">-->
    <!--<div class="row panel-footer">-->
        <!--<div class="col-lg-6 col-xs-6 col-sm-6 copyright">-->
            <!--Copyright &copy; 2013-2016    <strong><a href="http://lhf552004.github.io/MB/Translator.html" target="_blank">MBTranslator</a></strong>&nbsp;-->
            <!--All Rights Reserved.-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="col-lg-6 col-xs-6 col-sm-6 copyright">&ndash;&gt;-->
            <!--&lt;!&ndash;contact:<strong><a href="lhf552004@163.com" target="_blank">Email</a></strong>&nbsp;&ndash;&gt;-->
            <!--&lt;!&ndash;All Rights Reserved.&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->




</body>
</html>